# .NET Core files
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code files
.vscode/

# Rider files
.idea/

# Publish output
publish/

# Extra Files
*.zip
*.png
*.pdf